<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>

    <body>
        <div class='header' th:include="header::header"></div>
        <hr>
        <h1 th:text="#{title}"></h1>
        <p><span th:text="#{text}"></span> <b th:text="${data.getName()}"></b>.</p>
        <h2 th:text="#{consignment}"></h2>
        <table class='package_table'>
            <tr>
                <th th:text="#{description}"></th>
                <th th:text="#{hscode}"></th>
                <th th:text="#{currency}"></th>
                <th th:text="#{value}"></th>
            </tr>
            <tr th:each="prod : ${data.products}">
                <td th:text="${prod.description}"></td>
                <td th:text="${prod.HS}"></td>
                <td th:text="${prod.currency}"></td>
                <td th:text="${prod.value}"></td>
            </tr>
            <tr>
                <td><b th:text="#{totalvalue}"></b></td>
                <td></td>
                <td></td>
                <td th:text="${data.getTotalValue()}"></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td><b th:text="#{vat}"></b></td>
                <td class="right"><span th:text="${data.calculateVat()}"></span> EUR.</td>
            </tr>
        </table>
    </body>

</html>